<div id="logo">
  <%= image_tag 'mint_logo.png' %>
</div>
<style>
table tr td {
  margin : 20px;
  padding-right: 20px;
}
table tr td ul {
  margin-left: -20px;
  line-height: 150%;
}
</style>
<table align="center" border="0" cellspacing="5" cellpadding="5" id="menumenu-table" style="margin-top: 80px; font-size: 16px">
  <tr style="background-color:lightgrey;">
    <th style="text-align: center;"><%= t(".human_resources") %></th>
    <th style="text-align: center;"><%= t(".finance") %></th>
    <th style="text-align: center;"><%= t(".project") %></th>
      <th style="text-align: center;"><%= t(".document") %></th>
    <% if @user.ingroup?(:admin)%>
    <th style="text-align: center;"><%= t(".admin")%></th>
    <% end %>
  </tr>
  <tr>
    <td style="text-align: left;" valign="top">
      <ul>
        <li><%= link_to t("hrinfos.index.title"), :controller => "hrinfos" %></li>
        <% if @user.ingroup?(:admin) %>
          <li><%= link_to t("commutes.index.title"), :commutes %></li>
        <% else %>
          <li><%= link_to t("commutes.index.title"), commute_path(@user) %></li>
        <% end %>
        <% if @user.ingroup?(:admin) %>
          <li><%= link_to t("vacations.index.title"), :vacations %></li>
        <% else %>
          <li><%= link_to t("vacations.index.title"), vacation_path(@user) %></li>
        <% end %>
        <% if @user.ingroup?(:admin) %>
          <li><%= link_to t("payments.title"), :payments %></li>
        <% else %>
          <li><%= link_to t("payments.title"), payment_path(@user) %></li>
        <% end %>
      </ul>

    </td>
    <td style="text-align: left;" valign="top">
      <ul>
        <% if @user.permission.any? {|perm| perm.name == 'pettycashes'}  %>
          <li><%= link_to t("pettycashes.index.title"), :controller => "pettycashes" %></li>
        <% end %>
      </ul>
      <ul>
        <% if @user.permission.any? {|perm| perm.name == 'cardbills'}  %>
          <li><%= link_to t("cardbills.index.title"), :controller => "cardbills" %></li>
        <% end %>
      </ul>
      <ul>
        <% if @user.permission.any? {|perm| perm.name == 'bank_accounts'}  %>
          <li><%= link_to t("bank_accounts.index.title"), :bank_accounts %></li>
        <% end %>
      </ul>
      <ul>
        <% if @user.permission.any? {|perm| perm.name == 'taxbills'}  %>
          <li><%= link_to t("taxbills.index.title"), :taxbills %></li>
        <% end %>
      </ul>
    </td>
    <td style="text-align: left;" valign="top">
      <ul>
        <% if @user.permission.any? {|perm| perm.name == 'projects'}  %>
          <li><%= link_to t("projects.index.title"), :controller => "projects" %></li>
        <% end %>
      </ul>
    </td>
    <td style="text-align: left;" valign="top">
      <ul>
        <li><%= link_to t("documents.index.title"), :controller => "documents" %></li>
        <!-- <% if @user.permission.any? {|perm| perm.name == 'namecards'}  %>
          <li><%= link_to t("namecards.index.title"), :controller => "namecards" %></li>
        <% end %> -->
        <% if @user.permission.any? {|perm| perm.name == 'business_clients'}  %>
          <li><%= link_to t("business_clients.index.title"), :business_clients %></li>
        <% end %>
        <% if @user.permission.any? {|perm| perm.name == 'contacts'}  %>
          <li>
            <%= link_to t("contacts.index.title"), :contacts %>
          </li>
        <% end %>
      </ul>
    </td>
    <% if @user.ingroup?(:admin)%>
      <td style="text-align: left;" valign="top">
        <ul>
          <% if @user.permission.any? {|perm| perm.name == 'users'}  %>
          <li><%= link_to t("users.index.title"), :controller => "users" %></li>
          <% end %>
          <li><%= link_to t("payroll_categories.title"), :controller => "payroll_categories" %></li>
            <li><%= link_to t("creditcards.title"), :creditcards %></li>
        </ul>
      </td>
    <% end %>
</table>

<div id="mainmenu">
<ul id="css3menu">
  <li class="topitem"><a href="#"><span><%= t(".human_resources") %></span></a>
    <ul class="submenu">
      <li><%= link_to t("hrinfos.index.title"), :controller => "hrinfos" %></li>
      <% if @user.permission.any? {|perm| perm.name == 'users'}  %>
        <li>
          <%= link_to t("users.index.title"), :controller => "users" %>
        </li>
      <% end %>
      <% if @user.ingroup?(:admin) %>
        <li><%= link_to t("commutes.index.title"), :commutes %></li>
      <% else %>
        <li><%= link_to t("commutes.index.title"), commute_path(@user) %></li>
      <% end %>
    </ul>
  </li>
  <li class="topitem"><a href="#"><span><%= t(".finance") %></span></a>
    <ul class="submenu">
    <% if @user.permission.any? {|perm| perm.name == 'pettycashes'}  %>
      <li>
        <%= link_to t("pettycashes.index.title"), :controller => "pettycashes" %>
      </li>
    <% end %>
    <% if @user.permission.any? {|perm| perm.name == 'cardbills'}  %>
      <li>
        <%= link_to t("cardbills.index.title"), :controller => "cardbills" %>
      </li>
    <% end %>
    <% if @user.permission.any? {|perm| perm.name == 'taxbills'}  %>
      <li>
        <%= link_to t("taxbills.index.title"), :taxbills %>
      </li>
    <% end %>
    <% if @user.permission.any? {|perm| perm.name == 'bank_accounts'}  %>
      <li>
        <%= link_to t("bank_accounts.index.title"), :bank_accounts %>
      </li>
    <% end %>
    </ul>
  </li>
  <li class="topitem"><a href="#"><span><%= t(".project") %></span></a>
    <ul class="submenu">
      <% if @user.permission.any? {|perm| perm.name == 'projects'}  %>
        <li>
          <%= link_to t("projects.index.title"), :controller => "projects" %>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="topitem"><a href="#"><span><%= t(".document") %></span></a>
    <ul class="submenu">
      <li><%= link_to t("documents.index.title"), :controller => "documents" %></li>
      <% if @user.permission.any? {|perm| perm.name == 'namecards'}  %>
        <li>
          <%= link_to t("namecards.index.title"), :controller => "namecards" %>
        </li>
      <% end %>
      <% if @user.permission.any? {|perm| perm.name == 'business_clients'}  %>
        <li>
          <%= link_to t("business_clients.index.title"), :business_clients %>
        </li>
      <% end %>
      <% if @user.permission.any? {|perm| perm.name == 'business_clients'}  %>
        <li>
          <%= link_to t("business_clients.index.title"), :business_clients %>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="topitem"><a href="#"><span><%= t(".admin")%></span></a>
    <ul class="submenu">
      <li>xxx</li>
    </ul>
  </li>
  <!-- <li>
    <%#= link_to "Change Password", :action => "changepw" %>
  </li>
  <li>
    <%#= link_to "Attachment", :controller => "attachments" %>
  </li> -->
</ul>
</div>
<div style="clear: both;"></div>