<% 	@title = t('.title') %>
<div id="show_command">
	<%= link_to t('namecards.new.title'), new_namecard_path %>
</div>
<h2><%= t('common.title.list') %></h2>
<table id="list-table">
  <tr>
 
    <th><%= Namecard.human_attribute_name("name") %></th>
    <th><%= Namecard.human_attribute_name("company") %></th>
    <th><%= Namecard.human_attribute_name("department") %></th>
    <th><%= Namecard.human_attribute_name("jobtitle") %></th>
  </tr>
<% @namecards.each do |namecard| %>
	<tr class="selectable" onclick="location.href='<%= namecard_path(namecard) %>'">
    <td><%=h namecard.name %></td>
    <td><%=h namecard.company %></td>
    <td><%=h namecard.department %></td>
    <td><%=h namecard.jobtitle %></td>
  </tr>
<% end %>
</table>

<br />
<center>
	<%= will_paginate @namecards %>
</center>