<h3><%= t('Cardbills.detail.title')%></h3>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('amount') %>:</th>
    <td align="right"><%= number_to_currency target.amount %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('vat') %>:</th>
    <td align="right"><%= number_to_currency target.vat %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('servicecharge') %>:</th>
    <td align="right"><%= number_to_currency target.servicecharge %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('totalamount') %>:</th>
    <td align="right" class="<%= target.mismatch?(:totalamount) %>"><%= number_to_currency target.totalamount %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('storename') %>:</th>
    <td><%=h target.storename %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('storeaddr') %>:</th>
    <td><%=h target.storeaddr %></td>
  </tr>
  <tr>
    <th align="right"><%= Cardbill.human_attribute_name('approveno') %>:</th>
    <td><%=h target.approveno %></td>
  </tr>
</table>