<% title t('.title') %>

<div id="show_command">
  <% if @cardbill.used %>
    <%= link_to "사용 내역", @cardbill.used %>
    |
  <% end %>
  <% if @cardbill.status == 'verified' %>
    <% if @cardbill.expense_report %>
      <%= link_to "지출내역서 보기", @cardbill.expense_report %>
    <% else %>
      <%= link_to "지출내역서 만들기", new_expense_report_path(target_type: @cardbill.class, target_id: @cardbill.id, expensed_at: @cardbill.transdate, amount: @cardbill.totalamount) %>
    <% end %>
    |
  <% end %>
  <% if @cardbill.approved %>
    <%= link_to t('.to_approved'), @cardbill.approved %> |
  <% end %>
  <%= link_to t('common.title.edit'), edit_cardbill_path(@cardbill) %> |
  <%= link_to t('common.title.list'), cardbills_path %>
</div>

<h2>
  <%=h @cardbill.cardno_long %>
</h2>

<div class="box">
<div id="descr">
<span style="float:right;" class="<%= @cardbill.mismatch?(:transdate) %>">
  <%= Cardbill.human_attribute_name('transdate') %> : <%=h @cardbill.transdate.strftime("%Y.%m.%d %H:%M:%S %p") %>
</span>
<h3><%= Cardbill.human_attribute_name('totalamount') %>:<%= number_to_currency @cardbill.totalamount %></h3>

<%= render 'detail', target: @cardbill %>

<%= render 'changelog', target: @cardbill %>

</div>
<%= render "shared/attachments/detail", :target => @cardbill %>
<div style="clear: both;"></div>
</div>
