
<h2><%=h user.name %></h2>
<div class="box">
  <div id="descr">
  <table>
    <tr>
      <th>Gmail Account<th>
      <td><%= user.gmail_account %></td>
    </th>
    <tr>
      <th>Email<th>
      <td><%= user.notify_email %></td>
    </th>
    <tr>
      <th>Boxcar Account<th>
      <td><%= user.boxcar_account %></td>
    </th>
  </table>
  <%= render 'changelog', target: user %>
  </div>
  <%= render "shared/attachments/detail", :target => user %>
  <div style="clear: both;"></div>
</div>
