<% title t(".title") %>
<div id="show_command">
  <%= link_to t('common.title.show'), @user %> |
  <%= link_to t('users.changepw.title'), :action => "changepw", :id => @user %> |
  <%= link_to t('common.title.back'), users_path %>
</div>
<h2><%= t('common.title.edit') %></h2>

<%= form_for(@user,
    :url => {:action => :update},
    :html => {:multipart => true, :class => "tabular"}) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :name, User.human_attribute_name('name') %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gmail_account, User.human_attribute_name('gmail_account') %>
    <%= f.text_field :gmail_account %>
  </p>
  <p>
    <%= f.label :email, User.human_attribute_name('email') %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :boxcar_account, User.human_attribute_name('boxcar_account') %>
    <%= f.text_field :boxcar_account %>
  </p>

</div>
<%= f.submit t('common.button.update') %>
<% end %>

