<% title t('.title') %>
<% content_for :title_area do -%>
  <div id="title_area">
    <h1>Listing users</h1>
  </div>
<% end -%>

<% content_for :search do -%>
  <%= form_tag :users, :method => :get do %>
    <%= hidden_field_tag 'disabled', params[:disabled] %>
    <%= t("common.title.search") %> : <%= text_field_tag 'q', params[:q] %>
  <% end %>
<% end -%>

<div id="show_command">
  <%= link_to t('.newuser'), new_user_path %>
</div>
<h2><%= t("common.title.list") %></h2>

<table id="list-table">
  <tr>
    <th><%= User.human_attribute_name('name') %></th>
    <th><%= User.human_attribute_name('gmail_account') %></th>
  </tr>

<% @users.each do |user| %>
<tr class="selectable" onclick="location.href='<%= user_path(user) %>'">
  <td><%=h user.name %></td>
  <td><%=h user.gmail_account %></td>
    <!-- <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>
<div id="show_command">
<% if params[:disabled] == 'on' %>
  <%= link_to "Enabled", :action => "index" %>
<% else %>
  <%= link_to "Disabled", :action => "index", :disabled => 'on' %>
<% end %>
</div>
