
<% title t('.title') %>
<div id="show_command">
  <%= link_to t("common.title.back"), users_path %>
</div>
<h2><%= t("common.title.new") %></h2>

<%= form_for(@user,
    :url => {:action =>:create},
    :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :name, User.human_attribute_name("name") %>
    <%= f.text_field :name, :size => 40 %>
  </p>
  <p>
    <%= f.label :password, User.human_attribute_name("password")  %>
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :password_confirmation, User.human_attribute_name("password_confirmation")  %>
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.label :gmail_account, User.human_attribute_name("gmail_account")  %>
    <%= f.text_field :gmail_account, :size => 40 %>
  </p>
  <p>
    <%= f.label :email, User.human_attribute_name("email")  %>
    <%= f.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= f.label :boxcar_account, User.human_attribute_name("boxcar_account")  %>
    <%= f.text_field :boxcar_account, :size => 40 %>
  </p>

<%= fields_for :attachment, @attachment do |attachment| -%>
  <p>
    <%= attachment.label :uploaded_file, t("common.title.attachment") %>
    <%= attachment.file_field :uploaded_file %>
  </p>
<% end -%>
</div>
  <p>
    <%= f.submit t("common.button.create") %>
  </p>
<% end %>

