<% title t(".title") %>
<div id="show_command">
  <%= link_to t('common.title.show'), @attachment %> |
  <%= link_to t('common.title.list'), attachments_path %>
</div>
<h2><%= t("common.title.edit") %></h2>
<%= form_for(@attachment,
    :html => {:class => "tabular"}) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :title, Attachment.human_attribute_name('title') %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :comments, Attachment.human_attribute_name('comments') %>
    <%= f.text_field :comments %>
  </p>
  <p>
    <%= f.label :original_filename, Attachment.human_attribute_name('original_filename') %>
    <%= f.text_field :original_filename %>
  </p>
  <!-- <p>
    <%= f.label :owner_table_name, Attachment.human_attribute_name('owner_table_name') %>
    <%= f.text_field :owner_table_name %>
  </p>
  <p>
    <%= f.label :owner_id, Attachment.human_attribute_name('owner_id') %>
    <%= f.text_field :owner_id %>
  </p> -->
</div>
<%= f.submit t("common.button.update") %>
<% end %>

