<% title t(".title") %>

<div id="show_command">
  <%= link_to t('.new'), new_attachment_path %>
</div>
<h2><%= t("common.title.list") %></h2>
<table id="list-table">
  <tr>
    <th>id</th>
    <th><%= t('.uploadedby') %></th>
    <th><%= Attachment.human_attribute_name("title") %></th>
    <th><%= Attachment.human_attribute_name("comments") %></th>
    <th><%= Attachment.human_attribute_name("content_type") %></th>
    <th><%= Attachment.human_attribute_name("original_filename") %></th>
    <th><%= Attachment.human_attribute_name("filepath") %></th>
  </tr>

<% @attachments.each do |attachment| %>
<tr class="selectable" onclick="location.href='<%= attachment_path(attachment) %>'">
    <td><%=h attachment.id %></td>
    <% if attachment.user then %>
      <td><%=h attachment.user.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%=h attachment.title %></td>
    <td><%=h attachment.comments %></td>
    <td><%=h attachment.contenttype %></td>
    <td><%=h attachment.original_filename %></td>
    <td><%=h attachment.filepath %></td>
  </tr>
<% end %>
</table>

<center>
<%= will_paginate @cardbills %>
</center>