<% title t(".title") %>
<div id="show_command">
  <%= link_to t("common.title.back"), attachments_path %>
</div>
<h2><%= t("common.title.new") %></h2>
<%= form_for(:attachment,
  :url => {:action => 'save'},
  :html => { :class => "tabular", :multipart => true } ) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :title, Attachment.human_attribute_name('title') %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :comments, Attachment.human_attribute_name('comments') %>
    <%= f.text_field :comments %>
  </p>
  <p>
    <%= f.label :file, Attachment.human_attribute_name('file') %>
    <%= f.file_field :uploaded_file %>
  </p>
</div>
<%= f.submit t("common.button.create") %>
<% end %>

