<%   title t('.title') %>
<% content_for :search do -%>
  <%= form_tag({:action => "index"}, :method => :get ) do %>
    <%= t("common.report.status") %>
    <%= render 'reports/search_form' %>
    <%= t("common.title.search") %> : <%= text_field_tag 'query', params[:query] %>
    <%= render 'accessors/search_form' %>
  <% end -%>
<% end -%>
<div id="show_command">
  <%= link_to t('documents.new.title'), new_document_path %>
</div>
<h2><%= t("common.title.total") %>: <%= @documents.length %></h2>
<table id="list-table">
  <tr>
    <th><%= Document.human_attribute_name("id") %></th>
    <th><%= Document.human_attribute_name("title") %></th>
    <th><%= Document.human_attribute_name("project") %></th>
    <th><%= Document.human_attribute_name("owner") %></th>
    <th><%= Document.human_attribute_name("tags") %></th>
    <th><%= Report.human_attribute_name('status') %></th>
  </tr>
<% @documents.each do |document| %>
  <tr class="selectable" onclick="location.href='<%= document_path(document) %>'">
    <td><%=h document.id %></td>
    <td><%=h document.title %></td>
    <td><%=h document.project_name  %></td>
    <td>
    <% if !document.users.blank? %>
      <% user_names = document.users.index_by {|u| u.name } %>
      <%= user_names.keys.sort.join(", ") %>
    <% else %>
    <% end %>
    </td>
    <td>
      <%=h document.tag_list %>
    </td>
    <td><%=h document.localize_status %></td>
  </tr>
<% end %>
</table>

<br />
<center>
<%= will_paginate @cardbills %>
</center>