<% @title = t('.title')%>
<div id="show_command">
	<%= link_to t('common.title.back'), documents_path %>
</div>
<h2><%= t("common.title.new") %></h2>
<% form_for(@document,
		:url => {:action => 'create'},
		:html => {:class => "tabular", :multipart => true}) do |f| %>
<div id="box">
  <%= f.error_messages %>

  <p>
    <%= f.label Document.human_attribute_name('title') %>
    <%= f.text_field :title %>
  </p>
	<p>
		<%= f.label Project.human_name %>
		<%= f.collection_select(:project_id, @projects, :id, :name)%>
	</p>
	<%= render :partial => "shared/new_attachment" %>
<% unless params[:tag].blank? %>
	<p>
		<%= label_tag "Tag" %>
		<%= params[:tag] %>
		<%= hidden_field_tag :tag, params[:tag] %>
	</p>
<% end %>
</div>
<%= f.submit t('common.button.create') %>
<% end %>

