<div id="show_command">
    <%= link_to t('common.title.back'), :creditcards %>
</div>

<% newest = Time.zone.now %>
<% oldest = Time.zone.now - 1.year %>

<% newest = Creditcard.newest_approved_source.to_date %>
<% oldest = Creditcard.oldest_approved_source.to_date %>

<% period = Time.zone.parse("#{newest.year}-#{newest.month}-01 00:00:00").to_date %>
<table id="list-table">
  <thead>
    <tr>
      <th><%= t('creditcards.total.payment_date')%></th>
      <th><%= t('creditcards.total.card_detail')%></th>
    </tr>
  </thead>
  <tbody>
    <% ([""] + newest.step(oldest, -1).to_a).each do |period| %>
      <% total_price = CardApprovedSource.no_canceled.by_date(period).total_price %>
      <% unless total_price == 0 %>
        <tr>
          <td>
            <%= period.strftime("%Y.%m.%d") rescue t('creditcards.total.pending_payment') %>
          </td>
          <td>
            <table>
              <thead>
                <tr>
                  <th><%= Creditcard.human_attribute_name(:cardholder) %></th>
                  <th><%= Creditcard.human_attribute_name(:cardno) %></th>
                  <th><%= Creditcard.human_attribute_name(:nickname) %></th>
                  <th><%= Creditcard.human_attribute_name(:total) %></th>
                </tr>
              </thead>
                <% Creditcard.all.each do |card| %>
                  <% total_price = card.card_approved_sources.no_canceled.by_date(period).total_price %>
                  <% unless total_price == 0 %>
                  <tr class="selectable" onclick="location.href='<%= card_approved_sources_path(creditcard_id: card, will_be_paid_at: period, no_canceled: true) %>'">
                      <td><%= card.cardholder %></td>
                      <td><%= card.cardno %></td>
                      <td><%= card.nickname %></td>
                      <td class="numrow"><%= number_to_currency total_price %></td>
                    </tr>
                  <% end %>
                <% end %>
                <tr style="background-color: yellow;">
                  <td><%= CardUsedSource.human_attribute_name(:total) %></td>
                  <td></td>
                  <td></td>
                  <% approved = CardApprovedSource.by_date(period) %>
                  <td class="numrow"><%= number_to_currency approved.total_price %></td>
                </tr>
              <tbody>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
