<% @title = t(".title") %>
<div id="show_command">
	<%= link_to t("common.title.show"), @creditcard %> |
	<%= link_to t("common.title.list"), creditcards_path %>
</div>
<h2><%= t("common.title.edit") %></h2>
<% form_for(@creditcard,
		:html => {:class => "tabular", :multipart => true} ) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :cardno, Creditcard.human_attribute_name("cardno") %>
    <%= f.text_field :cardno %>
  </p>
  <p>
    <%= f.label :expireyear, Creditcard.human_attribute_name("expireyear") %>
    <%= f.text_field :expireyear %>
  </p>
  <p>
    <%= f.label :expiremonth, Creditcard.human_attribute_name("expiremonth") %>
    <%= f.text_field :expiremonth %>
  </p>
  <p>
    <%= f.label :nickname, Creditcard.human_attribute_name("nickname") %>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :issuer, Creditcard.human_attribute_name("issuer") %>
    <%= f.text_field :issuer %>
  </p>
  <p>
    <%= f.label :cardholder, Creditcard.human_attribute_name("cardholder") %>
    <%= f.text_field :cardholder %>
  </p>
	<%= render :partial => "shared/edit_attachment", :object => @creditcard %>
</div>
<%= f.submit t("common.button.update") %>
<% end %>

