<% title t(".title") %>
<div id="show_command">
  <%= link_to t("creditcards.new.title"), new_creditcard_path %>
</div>
<table id="list-table">
  <tr>
    <th><%= Creditcard.human_attribute_name('cardno') %></th>
    <th><%= Creditcard.human_attribute_name('short_name') %></th>
    <th><%= Creditcard.human_attribute_name('expireyear') %></th>
    <th><%= Creditcard.human_attribute_name('expiremonth') %></th>
    <th><%= Creditcard.human_attribute_name('nickname') %></th>
    <th><%= Creditcard.human_attribute_name('issuer') %></th>
    <th><%= Creditcard.human_attribute_name('cardholder') %></th>
  </tr>

<% @creditcards.each do |creditcard| %>
  <tr class="selectable" onclick="location.href='<%= creditcard_path(creditcard) %>'">
    <td><%=h creditcard.cardno %></td>
    <td><%=h creditcard.short_name %></td>
    <td><%=h creditcard.expireyear %></td>
    <td><%=h creditcard.expiremonth %></td>
    <td><%=h creditcard.nickname %></td>
    <td><%=h creditcard.issuer %></td>
    <td><%=h creditcard.cardholder %></td>
  </tr>
<% end %>
</table>
