<% @title = t('.title') + " - " + @status_me %>
<div id="show_command">
	<%= link_to t("projects.new.title"), new_project_path %>
</div>

<h2><%= t("common.title.list") %></h2>
<table id="list-table">
  <tr>
	<th><%= Project.human_attribute_name("name") %></th>
	<th><%= Project.human_attribute_name("revenue") %></th>
	<th><%= Project.human_attribute_name("started_on") %></th>
	<th><%= Project.human_attribute_name("ending_on") %></th>
<% if params[:st] == "completed" %>
<th><%= Project.human_attribute_name("ended_on") %></th>
<% end %>
  </tr>

<% @projects.each do |project| %>
<tr class="selectable" onclick="location.href='<%= project_path(project) %>'">
	<td><%= project.name %></td>
	<td class="money"><%= number_to_currency project.revenue %></td>
	<td><%= project.started_on %></td>
	<td><%= project.ending_on %></td>
	<% if params[:st] == "completed" %>
	<td><%= project.ended_on %></td>
	<% end %>
  </tr>
<% end %>
</table>


<div id="show_command">
	<%= link_to t('.title') + ' - ' + @status_other, :controller => "projects", :action => "index", :st => @st_other %>
</div>