<% title t('.title') %>
<div id="show_command">
<% unless project.completed? %>
  <%= link_to t('common.title.edit'), edit_project_path(project) %> |
<% end %>
  <%= link_to t('common.title.back'), projects_path %>
</div>
<h2><%= project.name %></h2>
<div class="box">
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th><%= Project.human_attribute_name('revenue') %></th>
    <td class="money"><%= number_to_currency project.revenue %></td>
  </tr>
  <tr>
    <th><%= Project.human_attribute_name('started_on') %></th>
    <td><%= project.started_on %></td>
  </tr>
  <tr>
    <th><%= Project.human_attribute_name("ending_on") %></th>
    <td><%= project.ending_on %></td>
  </tr>
<% if project.completed? %>
  <tr>
    <th><%= Project.human_attribute_name("ended_on") %></th>
    <td><%= project.ended_on %></td>
  </tr>
<% end %>
  <tr>
    <th>Users</th>
    <td>
      <% for user in project.users %>
        <%= user.name %>
        <%= link_to "할당비율 조정", [:assign, user, :projects] %>
        <br />
      <% end %>
    </td>
  </tr>
</table>
<%= render 'expense' %>
</div>