<h1>Editing permission</h1>

<% form_for(@permission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
		<%= f.label :users %><br />
		<% if !User.all.blank? %>
		  <% for user in User.all %>
				<%= check_box_tag "permission[user_ids][]", user.id, @permission.user.include?(user) %>
		    <%= user.name %>
		  <% end %>
		<% else %>
		  
		<% end %>
		
		<%=  %>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @permission %> |
<%= link_to 'Back', permissions_path %>