<p>
  <b>Name:</b>
  <%=h @permission.name %>
</p>
<hr />
<h2>Users</h2>
<% if !@permission.user.blank? %>
<ul>
  <% for user in @permission.user %>
    <li>
		<%= user.name %>
		[<%= link_to "X", :action => 'removeuser', :id => @permission,:user_id => user %>]
	</li>
  <% end %>	
</ul>
<% else %>
  None
<% end %>

<%= form_tag(:action => "adduser") do %>
   Add User : <%= text_field_tag :username, params[:username] %>
	<%= hidden_field_tag :id, @permission.id %>
<% end -%>
<hr />

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>