<% @title = t('.title') %>
<div id="show_command">
	<%= link_to t("common.title.show"), @pettycash %> |
	<%= link_to t("common.title.back"), pettycashes_path %>
</div>
<h2><%= t("common.title.edit") %></h2>

<%= form_for(@pettycash,
		:url => { :action => 'update' },
		:html => { :class => "tabular", :multipart => true } ) do |f| %>
  <%= f.error_messages %>
<div class="box">
  <p>
    <%= f.label :transdate, Pettycash.human_attribute_name('transdate') %>
    <%= f.datetime_select :transdate %>
  </p>
  <p>
    <%= f.label :inmoney, Pettycash.human_attribute_name('inmoney') %>
    <%= f.text_field :inmoney %>
  </p>
  <p>
    <%= f.label :outmoney, Pettycash.human_attribute_name('outmoney') %>
    <%= f.text_field :outmoney %>
  </p>
  <p>
    <%= f.label :description, Pettycash.human_attribute_name('description') %>
    <%= f.text_area :description %>
  </p>
  <p>
        <%= render 'shared/attachments/form', label: t("common.title.attachment") %>
  </p>
  <p>
        <%= f.submit t("common.button.update") %>
  </p>
</div>

<!-- <% if !@attachments.blank? %>
  <% for attachment in @attachments %>
    <img src="<%= url_for(:controller => "attachments", :action => 'picture', :id => attachment.id, :w => "100", :h => "80") %>" />
	[<%= link_to "Delete", :controller => "attachments", :action => "delete", :id => attachment %>]
  <% end %>
<% else %>

<% end %>
	<%= fields_for :attachment, @attachment do |attachment| -%>
		<p>
			<%= attachment.label :uploaded_file, t("common.title.attachment") %>
			<%= attachment.file_field :uploaded_file %>
		</p>
	<% end -%>
</div>
  <p>
    <%= f.submit t("common.button.update") %>
  </p>
<% end %> -->

