<% title t('.title') %>

<% content_for :search do -%>

  <%= form_tag :taxbills, :method => :get do %>
    <%= t("common.title.search") %> : <%= text_field_tag 'query', params[:query] %>
    <%= select_tag :billtype, options_for_select(
            { t('taxbills.purchase_sales_bill') => "all",
              t('taxbills.purchase_bill') => Taxbill::BILL_TYPE[0],
               t('taxbills.sales_bill') =>Taxbill::BILL_TYPE[1]},
              params[:billtype]
            ),
            "onchange" => "this.form.submit()"
    %>
    <%= select_tag :taxman_id, options_for_select([ ["all" ,"0"] ] + Taxbill.taxmen_list, params[:taxman_id]),
          "onchange" => "this.form.submit()"
    %>
  <% end -%>
<% end %>

<div id="show_command">
    <%= link_to t('taxbills.total.link'), [:total, :taxbills] %>
    |
    <%= link_to t('common.title.new'), [:new, :taxbill] %>
</div>

<% unless taxbills_pagination.empty? %>
    <h2>Total : <%= taxbills_pagination.size %></h2>
    <table id="list-table">
      <tr>
        <th><%= Taxbill.human_attribute_name('billtype') %></th>
        <th><%= Taxbill.human_attribute_name('transacted_at') %></th>
        <th><%= BusinessClient.human_attribute_name('name') %></th>
        <th><%= BusinessClient.human_attribute_name('owner') %></th>
        <th><%= Taxbill.human_attribute_name('total') %></th>
      </tr>
    <% taxbills_pagination.each do |taxbill| %>
      <tr class="selectable" onclick="location.href='<%= taxbill_path(taxbill) %>'">
        <td><%=h taxbill.billtype == 'purchase' ? t('taxbills.purchase_bill') : t('taxbills.sales_bill') %></td>
        <td><%=h taxbill.transacted_at.strftime("%Y-%m-%d") %></td>
        <td><span><%=h taxbill.taxman.business_client.name %></span></td>
        <td><span><%=h taxbill.taxman.business_client.owner %></span></td>
        <td class="numrow"><%=h number_to_currency taxbill.total %></td>
      </tr>
    <% end %>
    </table>
    <br />
    <center>
    <%= will_paginate taxbills_pagination %>
    </center>
<% else %>
    <h3><%= t 'taxbills.index.empty' %></h3>
<% end %>
