
<div id="show_command">
    <%= link_to t('common.title.back'), :taxbills %>
</div>


<% 3.downto(0).each do |quarter|%>
  <h4><%= t('.quarter', year: @current_year.year, quarter: quarter+1)%></h3>
  <% between = (@current_year + (3*(quarter)).month..@current_year + (3*(quarter+1)).month) %>

  <% purchases = @purchases.where(transacted_at: between) %>
  <% sales = @sales.where(transacted_at: between) %>
  <% cards = @cards.where(approved_at: between) %>

  <% header = Array.new([purchases.size, sales.size, cards.size].max) %>
  <% unless header.empty? %>
    <table id="list-table">
      <thead>
        <tr>
          <th><%= t('.purchase') %></th>
          <th><%= t('.sale') %></th>
          <th><%= t('.card') %></th>
        </tr>
      </thead>
      <tbody>
        <% header.zip(purchases.all, sales.all, cards).each do |_, purchase, sale, card| %>
          <tr>
            <td>
              <% if purchase %>
                <%= purchase.taxman.business_client.name %>
                :
                <%= number_to_currency purchase.total %>
              <% end %>
            </td>
            <td>
              <% if sale %>
                <%= sale.taxman.business_client.name %>
                :
                <%= number_to_currency sale.total %>
              <% end %>
            </td>
            <td>
              <% if card %>
                <%= card.store_name %>
                :
                <%= number_to_currency card.money_krw %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= t('common.total') %>
            <%= number_to_currency purchases.total %>
          </td>
          <td>
            <%= t('common.total') %>
            <%= number_to_currency sales.total %>
          </td>
          <td>
            <%= t('common.total') %>
            <%= number_to_currency cards.total %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<h4><%= t('.list')%></h4>
<ul>
  <% current = Time.zone.now.year %>
  <% oldest = oldest_year %>
  <% current.downto(oldest) do |year| %>
    <% if year != params[:at].to_i %>
      <li><%= link_to "#{year}#{t('datetime.prompts.year')}", total_taxbills_path(:at => year) %></li>
    <% else %>
      <li><%= "#{year}#{t('datetime.prompts.year')}" %></li>
    <% end %>
  <% end %>
</ul>