<% @title = t('.title') %>

<h2>연봉 내역</h2>
<div id="show_command">
  <% if @user.ingroup?(:admin) %>
    <%= link_to t('pay_schedules.new.link'), [:yearly, user, :payments] %>
    |
    <%= link_to t('bonuses.new.link'), [:new, user, :payment] %>
    |
  <% end %>
  <%= link_to t('common.title.list'), :payments %>
</div>

<div class="box">
  <% payments.latest.group_by{|payment| payment.pay_at.strftime("%Y-%m")}.each do |month, payments| %>
  <table width='400'>
    <tr>
      <th align="right"><%= month %></th>
      <th></th>
      <th></th>
      <td align="right">총액 <b><%= number_to_currency payments.sum{|payment| payment.amount} %></b></td>
    </tr>
    <tr>
      <th></th>
      <th><%= Payment.human_attribute_name(:note) %></th>
      <th><%= Payment.human_attribute_name(:amount) %></th>
      <th><%= t('common.menu')%> </th>
    </tr>
  <% payments.each do |payment| %>
    <tr>
      <td align="right" width="100"></td>
      <td align="right" width="100"><%= payment.note %></td>
      <td align="right" width="100"><%= number_to_currency(payment.amount) %></td>
      <td align="right" width="100">
        <%= link_to t("common.link.edit"), [:edit, user, payment] %>
        |
        <%= link_to t("common.link.destroy"), [user, payment], :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </table>
  </br>
<% end %>
