<% @title = t('.title') %>

<h2>연봉 내역</h2>
<div id="show_command">
  <% if @user.ingroup?(:admin) %>
    <%= link_to t('pay_schedules.new.link'), [:yearly, user, :payments] %>
    |
    <%= link_to t('bonuses.new.link'), [:new, user, :payment] %>
    |
  <% end %>
  <%= link_to t('common.title.list'), :payments %>
</div>

<div class="box">
  <div>
    <table border="0" cellspacing="5" cellpadding="5">
      <% unless user.payments.empty? %>
        <tr>
          <th><%= Payment.human_attribute_name(:pay_at) %></th>
          <th><%= Payment.human_attribute_name(:note) %></th>
          <th><%= Payment.human_attribute_name(:amount) %></th>
          <th><%= t('common.menu')%> </th>
        </tr>
        <% user.payments.latest.each do |payment| %>
          <tr>
            <td><%= payment.pay_at.strftime("%Y-%m") %></td>
            <td><%= payment.note %></td>
            <td><%= number_to_currency(payment.amount) %></td>
            <td align="right">
              <%= link_to t("common.link.edit"), [:edit, user, payment] %>
              |
              <%= link_to t("common.link.destroy"), [user, payment], :method => :delete, :confirm => "Are you sure?" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>항목이 없습니다.</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>