<% title t(".title") %>
<div id="show_command">
  <%= link_to t('common.title.back'), :action => :retire, :id => @hrinfo %>
</div>
<h2><%= t('.retire_date') %></h2>

<%= form_for @hrinfo, url: retired_path(@hrinfo), :html => {:class => "tabular"} do |f| -%>
  <%= f.hidden_field :retired_on %>
  <div class="box">
    <h3><%= t('hrinfos.try_retired.calculation_remain_salary')%></h3>
    <table id="list-table">
      <tr>
        <th><%= t('.retired_at') %></th>
        <th><%= t('.note') %></th>
        <th><%= t('.before_retire') %></th>
        <th><%= t('.after_retire') %></th>
        <th><%= t('.retire_total') %></th>
      </tr>
    <%= @hrinfo.user.payments.pay_from(@hrinfo.retired_on).find_each do |payment| %>
      <tr>
        <td><%= payment.pay_finish.strftime("%Y.%m") %></td>
        <td><%= payment.note %></td>
        <td><%= number_to_currency payment.amount %></td>
        <% retired_amount = payment.retired_amount(@hrinfo.retired_on) %>
        <td><%= number_to_currency retired_amount %></td>
        <td><%= number_to_currency payment.amount + retired_amount %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <%= f.submit t("common.button.update") %>
<% end -%>
