<% title t('.title') %>
<div id="show_command">
  <%= link_to t('hrinfos.show.pdf'), [:employment_proof, @hrinfo] %> |
  <% if @user.ingroup?("admin") && ! @hrinfo.retired_on %>
    <%= link_to t('hrinfos.retire.title'), :action => :retire, :id => @hrinfo %> |
    <%= link_to t('common.title.edit'), edit_hrinfo_path(@hrinfo) %> |
  <% end %>
  <%= link_to t('common.title.back'), hrinfos_path %>
</div>
<h2><%= @hrinfo.fullname %></h2>
<div class="box">
  <div id="descr">
    <table border="0" cellspacing="5" cellpadding="5">
      <tr><th align="right"><%= Hrinfo.human_attribute_name('companyno') %>:</th><td><%= @hrinfo.companyno %></td></tr>
      <tr><th align="right"><%= Hrinfo.human_attribute_name('position') %>:</th><td><%= @hrinfo.position %></td></tr>
      <tr><th align="right"><%= Hrinfo.human_attribute_name('username') %>:</th><td><%= @hrinfo.user.name %></td></tr>
<% if @user.ingroup?("admin") || @hrinfo.user == @user %>
      <tr><th align="right"><%= Hrinfo.human_attribute_name('juminno') %>:</th><td><%= @hrinfo.juminno %></td></tr>
<% end %>
      <tr><th align="right"><%= Hrinfo.human_attribute_name('joined_on') %>:</th><td><%= @hrinfo.joined_on %></td></tr>
<% if @hrinfo.retired_on %>
      <tr><th align="right"><%= Hrinfo.human_attribute_name('retired_on') %>:</th><td><%= @hrinfo.retired_on %></td></tr>
<% end %>
    </table>
    <% if @hrinfo.contact %>
      <div id="show_command">
        <%= link_to t('hrinfos.show.find_address'), @hrinfo.contact %>
      </div>

      <h3><%= t("contacts.show.title")%></h3>
      <ul>
        <%= render 'contacts/item_for_hrinfo', contact: @hrinfo.contact, menu: false %>
      </ul>
    <% end %>
<% if @user.ingroup?("admin") || @hrinfo.user == @user %>
<% if @user.ingroup? "admin" %>
    <div id="show_command">
      <%= link_to t('required_tags.new.title'), :controller => "required_tags",  :action => "new", :modelname => Hrinfo.name, :returnurl => request.url %>
    </div>
<% end %>

    <h3><%= t('.related_documents') %></h3>
    <ul>
      <% if !@required_tagnames.blank? %>
        <% for rtn in @required_tagnames %>
          <li>[<%= rtn %>]
            <% if @required_documents[rtn] %>
              <%= link_to @required_documents[rtn].title, :controller => "documents", :action => "show", :id => @required_documents[rtn]  %>
            <% else %>
              <%= link_to "Register", :controller => "documents", :action => "new", :tag => [rtn, Hrinfo.model_name.human, @hrinfo.user.name].join(',') %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if !@unrequired_documents.blank? %>
        <% for d in @unrequired_documents %>
          <li><%= link_to d.title, :controller => "documents", :action => "show", :id => d %></li>
        <% end %>
      <% end %>
    </ul>

    <h3><%= t(".related_admin_actions")%></h3>
    <ul>
      <% if @user.ingroup?("admin") || @hrinfo.user == @user %>
        <li><%= link_to t('payments.title'), payment_path(@hrinfo.user) %></li>
        <li><%= link_to t('vacations.show.link'), vacation_path(@hrinfo.user) %></li>
      <% end %>
    </ul>

<% end %>
  </div>
  <div id="attach">
    <%= render "shared/attachments/detail", :target => @hrinfo %>
  </div>
  <div style="clear: both;">
<% if @user.ingroup? "admin" %>
  <%= render 'changelog', target: @hrinfo %>
<% end %>
    </div>
</div>

<!-- <pre>
  required_documents:
  <%= @required_documents.values.collect(&:title).join(',') %>

  unrequired_documents:
  <%= @unrequired_documents.collect(&:title).join(',') %>
</pre> -->