<% title t('.title')%>
<div id="show_command">
<%= link_to t('common.title.back'), hrinfos_path %>
</div>
<h2><%= t("common.title.new") %></h2>
<%= form_for(@hrinfo,
    :html => {:class => "tabular", :multipart => true}) do |f| %>
<div class="box">
  <%= f.error_messages %>
  <p>
    <%= f.label :username, Hrinfo.human_attribute_name('username')%>
    <%= f.collection_select(:user_id, @users, :id, :name) %>
  </p>
  <p>
    <%= f.label :companyno, Hrinfo.human_attribute_name('companyno') %>
    <%= f.text_field :companyno, value: Hrinfo.maximum(:companyno).nil? ? 1 : Hrinfo.maximum(:companyno)+1 %>
  </p>
  <p>
    <%= f.label :lastname, Hrinfo.human_attribute_name('lastname') %>
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :firstname, Hrinfo.human_attribute_name('firstname')%>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :juminno, Hrinfo.human_attribute_name('juminno')%>
    <%= f.text_field :juminno %>
  </p>
  <p>
    <%= f.label :email, Hrinfo.human_attribute_name('email')%>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number, Hrinfo.human_attribute_name('phone_number')%>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :address, Hrinfo.human_attribute_name('address')%>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :department, Hrinfo.human_attribute_name('department') %>
    <%= f.text_field :department %>
  </p>
  <p>
    <%= f.label :position, Hrinfo.human_attribute_name('position')%>
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :joined_on, Hrinfo.human_attribute_name('joined_on')%>
    <%= f.date_select :joined_on, :order => [:year, :month, :day] %>
  </p>
  <p>
    <%= f.label :listed, Hrinfo.human_attribute_name('listed') %>
    <%= f.check_box :listed %>
  </p>
  <p>
    <%= render 'shared/attachments/form', form: f %>
  </p>
  <p>
  </p>
</div>
<%= f.submit t("common.button.create") %>
<% end %>

