<% title t(".title") %>
<div id="show_command">
  <%= link_to t('common.title.back'), :action => :retire, :id => @hrinfo %>
</div>
<h2><%= t('.retire_date') %></h2>

<%= form_for @hrinfo, url: retired_path(@hrinfo), :html => {:class => "tabular"} do |f| -%>
  <%= f.hidden_field :retired_on %>
  <div class="box">
    <h3>잔여 연봉 계산</h3>
    <table id="list-table">
      <tr>
        <th><%= t('.retired_at') %></th>
        <th><%= t('.note') %></th>
        <th><%= t('.before_retire') %></th>
        <th><%= t('.after_retire') %></th>
      </tr>
    <%= @hrinfo.user.payments.pay_from(@hrinfo.retired_on).find_each do |payment| %>
      <tr>
        <td><%= payment.pay_at.strftime("%Y.%m") %></td>
        <td><%= payment.note %></td>
        <td><%= number_to_currency payment.amount %></td>
        <td><%= number_to_currency payment.retired_amount(@hrinfo.retired_on) %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <%= f.submit t("common.button.update") %>
<% end -%>
