<div id="show_command">
  <%= link_to t('common.title.back'), taxbill %>
</div>

<h2><%= t("common.title.#{action_name}") %></h2>

<%= form_for [taxbill, taxbill_item] do |f| %>
   <%= f.error_messages %>
  <div class="box">
    <p>
      <%= f.label :unitprice %>
      <%= f.text_field :unitprice %>
    </p>
    <p>
      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
    </p>
    <p>
      <%= f.label :tax %>
      <%= f.text_field :tax %>
    </p>
    <p>
      <%= f.label :total %>
      <%= f.text_field :total %>
    </p>
    <p>
      <%= f.label :transacted_at %>
      <%= f.date_select :transacted_at, :order => [:year, :month, :day] %>
    </p>
    <p>
      <%= f.label :note %>
      <%= f.text_area :note %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>


<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      var unitprice = $('#taxbill_item_unitprice');
      var quantity = $('#taxbill_item_quantity');
      var tax = $('#taxbill_item_tax');
      var total = $('#taxbill_item_total');


      var formatCurrency = function(){
        $(this).formatCurrency({
          symbol: '￦',
          roundToDecimalPlace: 0
        });
      };

      var unformattedCurrency = function(value) {
        result = (value+"").replace(/\D/g,'');
        return parseInt(result, 10);
      }

      var calculateTax = function(){
        return Math.round(
          unformattedCurrency(unitprice.val()) * quantity.val() * 0.1);
      }

      var calculateTotal = function(){
        return unformattedCurrency(unitprice.val()) * quantity.val() + unformattedCurrency(calculateTax());
      }

      var applyTotal = function(){
        total.val(calculateTotal());
        total.formatCurrency({
          symbol: '￦',
          roundToDecimalPlace: 0
        });
      };

      var applyTax = function(){
        tax.val(calculateTax());
        tax.formatCurrency({
          symbol: '￦',
          roundToDecimalPlace: 0
        });
      }

      unitprice.keyup(applyTotal);
      unitprice.keyup(applyTax);

      quantity.keyup(applyTotal);
      quantity.keyup(applyTax);

      unitprice.keyup(formatCurrency);
      tax.keyup(formatCurrency);
      total.keyup(formatCurrency);

      unitprice.trigger('keyup');
      tax.trigger('keyup');
      total.trigger('keyup');
    });
  </script>
<% end -%>