<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mint Office</title>
  <%= stylesheet_link_tag 'less' %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'scaffold' %>
	<meta name="viewport" content="width=device-width; initial-scale=1"/>
	<!-- Add "maximum-scale=1" to fix the weird iOS auto-zoom bug on orientation changes. -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>
<body>

<%= render(:partial => "shared/header") %>
<% if flash[:notice] %><div class="flash notice"><%= flash[:notice] %></div><% end %>
<%= yield %>

<%= render(:partial => "shared/footer") %>
</body>
</html>
